<h1>Data Science Tools and Ecosystem<h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

<ol>
<li> Python </li>
<li> R </li>
<li> Scala </li>
</ol>

Some of the commonly used libraries used by Data Scientists include:

<ol>
<li>matplotlib</li>
<li>seaborn</li>
<li>pandas</li>
</ol>

| |Data science Tools| |
| --- | --- | --- |
| Jupyter Notebook | RStudio | Spyder |

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

In [5]:
(3*4)+5 ##This a simple arithmetic expression to mutiply then add integers

17

In [6]:
200/60 ##his will convert 200 minutes to hours by diving by 60

3.3333333333333335

 __Objectives__

<ul>
<li>Python</li>
<li>SQL</li>
<li>R.</li>
<li>Java</li>
<li>Julia</li>
<li>Scala</li>
<li>C</li>
<li>C++</li>
</ul>

Author

<h2>Johncy Paul M </h2>